@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --platzi-primary-background: #13161c;
  --platzi-secondary-background: #20252f;
}

* {
  font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background-color: var(--platzi-secondary-background);
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px --platzi-primary-background inset;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
  height: inherit;
  width: 100%;
  object-fit: cover;
}
